body {
    inset: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
  }
  
  #loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  
  #loading img {
    animation: 1s ease-in-out 0s infinite alternate breathe;
    opacity: .66;
    transition: opacity .4s;
  }
  
  #loading.main_done img {
    opacity: 1;
  }
  
  #loading.init_done img {
    animation: .33s ease-in-out 0s 1 forwards zoom;
    opacity: .05;
  }
  
  @keyframes breathe {
    from {
      transform: scale(1)
    }
    to {
      transform: scale(0.95)
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(1)
    }
    to {
      transform: scale(0.01)
    }
  }