div.container {
  background-color: #980000;
}

div div input {
  background-color: #ffd966;
}

button.primary-button.enabled-primary-button {
  background-color: #ff00ff;
}

button.primary-button{
  background-color: #00ffff;
}

div.children-container {
  background-color: #00ffff;
  
}