body {
    text-align: center;
    padding: 10px;
    background-color: #F46640;
}

.button {
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 30px;
    border-width: 0px;
    min-width: 300px;
    cursor: pointer;
}

.deeplink-button {
    background-color: #FACF48;
    color: black;
}

.install-button {
    background-color: #FFFFFF;
    color: black;
}

.logo {
    max-width: 100px;
    height: 32px;
    width: 32px;
    margin: 16px auto 16px;
    display: block;
}

.message {
    font-weight: 600;
    font-size: 28px;
    overflow-wrap: break-word;
    display: block;
    padding: 20px;
    border-radius: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 300px;
    margin: 16px auto 32px;
    line-height: 120%;
    letter-spacing: 0em;
}

.install-message {
    line-height: 150%;
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 17px;
    margin: 0px auto 0px;
}

hr {
    max-width: 30%;
    color: #FFFFFF;
    margin: 32px auto 0px;
}
