name: espressocash_app
description: Espresso Cash mobile wallet for Solana
publish_to: "none"
version: 1.123.1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  async: ^2.11.0
  barcode_widget: ^2.0.4
  bip39: ^1.0.6
  bloc_concurrency: ^0.2.3
  borsh_annotation: ^0.3.1+5
  cached_network_image: ^3.3.1
  collection: ^1.18.0
  crypto: ^3.0.2
  dart_jsonwebtoken: ^2.14.0
  decimal: ^2.3.3
  device_preview: ^1.1.0
  dfunc: ^0.10.0
  dio: ^5.4.0
  dio_cache_interceptor: ^3.4.2
  dio_cache_interceptor_db_store: ^5.1.0
  drift: ^2.14.1
  espressocash_api:
    path: ../espressocash_api/
  ethereum_addresses: ^1.0.2
  fast_immutable_collections: ^10.2.2
  firebase_app_installations: ^0.3.0+2
  firebase_core: ^3.1.1
  firebase_remote_config: ^5.0.2
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.3
  flutter_inappwebview: ^6.0.0
  flutter_localizations:
    sdk: flutter
  flutter_markdown: ^0.7.1
  flutter_screenutil: ^5.9.0
  flutter_secure_storage: ^9.0.0
  flutter_svg: ^2.0.9
  flutter_svg_provider: ^1.0.7
  freezed_annotation: ^2.4.1
  get_it: ^7.6.4
  http: ^1.1.2
  image_picker: ^1.1.1
  injectable: ^2.3.2
  intercom_flutter: ^9.0.7
  intl: ^0.19.0
  json_annotation: ^4.8.1
  logging: ^1.2.0
  meta: ^1.10.0
  mixpanel_flutter: ^2.2.0
  mobile_scanner: ^5.0.2
  package_info_plus: ^8.0.0
  path: ^1.8.3
  path_provider: ^2.1.1
  permission_handler: ^11.1.0
  provider: ^6.1.1
  ramp_flutter: ^3.0.0
  recase: ^4.1.0
  retrofit: ^4.0.3
  rive: ^0.13.2
  rxdart: ^0.27.7
  sentry_flutter: ^8.1.0
  share: ^2.0.4
  shared_preferences: ^2.2.2
  sliver_tools: ^0.2.12
  smooth_page_indicator: ^1.1.0
  solana:
    path: ../solana/
  solana_mobile_wallet:
    path: ../solana_mobile_wallet/
  sqlite3_flutter_libs: ^0.5.18
  stellar_flutter_sdk: ^1.8.0
  storybook_flutter: ^0.14.0
  uni_links: ^0.5.1
  url_launcher: ^6.2.2
  uuid: ^4.2.2

dev_dependencies:
  bloc_test: ^9.1.5
  borsh: ^0.3.1+4
  build_runner: ^2.4.7
  drift_dev: ^2.14.1
  flutter_driver:
    sdk: flutter
  flutter_gen_runner: ^5.4.0
  flutter_native_splash: ^2.3.7
  flutter_test:
    sdk: flutter
  freezed: ^2.4.6
  golden_toolkit: ^0.15.0
  injectable_generator: ^2.4.1
  integration_test:
    sdk: flutter
  json_serializable: ^6.7.1
  mews_pedantic: ^0.28.0
  mockito: ^5.4.4
  retrofit_generator: ^8.0.6

flutter_gen:
  integrations:
    flutter_svg: true
    rive: true

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/
    - assets/rive/
    - assets/gifs/
    - assets/coinflow/
    - assets/coinflow/static/
    - assets/coinflow/static/js/
    - assets/coinflow/static/css/
    - assets/scalex/
    - assets/moneygram/

  fonts:
    - family: RobotoApp
      fonts:
        - asset: assets/fonts/Roboto-Thin.ttf
          weight: 100
        - asset: assets/fonts/Roboto-ThinItalic.ttf
          style: italic
          weight: 100
        - asset: assets/fonts/Roboto-Light.ttf
          weight: 300
        - asset: assets/fonts/Roboto-LightItalic.ttf
          style: italic
          weight: 300
        - asset: assets/fonts/Roboto-Regular.ttf
          weight: 400
        - asset: assets/fonts/Roboto-Italic.ttf
          style: italic
          weight: 400
        - asset: assets/fonts/Roboto-Medium.ttf
          weight: 500
        - asset: assets/fonts/Roboto-MediumItalic.ttf
          style: italic
          weight: 500
        - asset: assets/fonts/Roboto-Bold.ttf
          weight: 700
        - asset: assets/fonts/Roboto-BoldItalic.ttf
          style: italic
          weight: 700
        - asset: assets/fonts/Roboto-Black.ttf
          weight: 900
        - asset: assets/fonts/Roboto-BlackItalic.ttf
          style: italic
          weight: 900

flutter_native_splash:
  color: "#B4A270"
  image: assets/images/logo.png
  web: false

  android_12:
    image: assets/images/blank.png
    color: "#B4A270"

dependency_overrides:
  # TODO: Recheck once flutter_inappwebview version >6.0.0 is released
  flutter_inappwebview_android:
    git:
      url: https://github.com/holzgeist/flutter_inappwebview
      path: flutter_inappwebview_android
      ref: d89b1d32638b49dfc58c4b7c84153be0c269d057
  jupiter_aggregator:
    path: ../jupiter_aggregator/
