name: Solana coverage
on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-master
  cancel-in-progress: true

env:
  FLUTTER_VERSION: "3.7.8"

jobs:
  solana_coverage:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    env:
      DEVNET_RPC_URL: "http://localhost:8899"
      DEVNET_WEBSOCKET_URL: "ws://localhost:8900"
      SCOPE: --scope="solana"
      METAPLEX_ID: "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
      METAPLEX_SO: "packages/solana/test/bpf-programs/metaplex.so"

    steps:
      - uses: actions/checkout@v2
      - run: echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: "stable"
          cache: true

      - name: Activate utils
        run: make activate_utils

      - name: Start Solana Local Validator
        uses: switchboard-xyz/solana-local-validator@v0.1
        with:
          solana-version: stable
          cluster: mainnet
          args:
            --bpf-program ${{ env.METAPLEX_ID }} ${{ env.METAPLEX_SO }}

      - name: Install dependencies
        run: melos exec -c 1 ${{ env.SCOPE }} -- make dart_get

      - name: Test
        run: melos exec -c 1 ${{ env.SCOPE }} -- dart run test --coverage=coverage

      - name: Coverage
        run: melos exec -c 1 ${{ env.SCOPE }} -- make dart_coverage

      - uses: codecov/codecov-action@v3
        with:
          flags: solana-stable
